/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

h1, h2 {
    text-align: center;
    color: #333;
}

/* Estilos para formularios */

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para la lista de compra */
#lista-widget {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

li:last-child {
    border-bottom: none;
}


.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

/* Estilos para el formulario de login */
#login-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#login-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

#login-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#login-form button {
    width: 100%;
    margin-top: 10px;
}